<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
  crossorigin="anonymous"
/>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
  crossorigin="anonymous"
></script>
<div class="header">
  <div class="card" style="width: 18rem">
    <div class="card-body">
      <img src="../images/<%= findboek.figuurURL %>" style="max-width: 100%" />
      <h5 class="card-title"><%= findboek.titel %></h5>
      <p>auteur: <%= findboek.naam %></p>
      <p>uitgeverij: <%= findboek.omschrijvingKort %></p>
    </div>
  </div>

  <div class="plaatsen">
    <h1>Ik wil het boek op deze plaats <%= pl.idplaats %></h1>
    <form action="/boeken/leenboek" method="post">
      <input type="hidden" name="idboek" value="<%= findboek.idboek %>" />
      <select id="idplaats" name="idplaats">
        <% plaatsen.forEach(plaats => { %>
        <option value="<%= plaats.idplaats %>" <% if (pl.idplaats == plaats.idplaats) {%>
          selected <% } %> > <%= plaats.plaatskort %> - <%= plaats.afdelingkort
          %>
        </option>
        <%})%>
      </select>
      <button type="submit">verzenden</button>
    </form>
  </div>
</div>
